body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#addEmployeeModal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.modal-dialog {
    width: 60%;
}

.modal-content {
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.modal-title {
    margin: 0;
    font-size: 20px;
}

.modal-body {
    /* width: 94%; */
    padding: 17px 20px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    font-size: 13px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    /* height: 40px; */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #3498db;
}

.form-select select {
    width: 100%;
    height: 40px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

.form-select select:focus {
    border-color: #3498db;
}

.modal-footer {
    display: flex;
    justify-content: space-evenly;
    /* padding: 15px; */
    /* border-bottom-left-radius: 8px; */
    /* border-bottom-right-radius: 8px; */
    /* background-color: #fff; */
}

.back {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

.back:hover {
    text-decoration: underline;
}

.submit {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit:hover {
    background-color: #2980b9;
}

.size-div{
    display:flex;
    justify-content: space-between
}