:root{
    --box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    --primary-color: #3498db;
    --secondary-color: #2980b9;
    --button-hover-color: #2c3e50;
    --button-text-color: #fff;
}
body {
    display: flex;
    justify-content: center;
    background: #ffffff;
}

.modal-content {
    width: 1200px;
    margin-top: 110px;
    margin-bottom: 30px;
}
.modal-header {
    box-shadow: var(--box-shadow);
    background: #fafafa;
    border-radius: 15px;
    justify-content: center;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
}
.modal-header .img-logo {
    font-size: 20px;
    align-items: center;
    display: flex;
    height: 50px;
    gap: 10px;
}
.modal-header .img-logo img{
    height: 50px;
}

table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
}

table th,
table td {
    justify-content: center;
    text-align: center;
    padding: 15px;

}

table th {
    font-size: 18px;
    background-color: var(--primary-color);
    color: #ffffff;
}
table tbody {
    border: 1px solid #ddd;
}
table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
table  tbody tr:hover{
    background-color: #e0e0e0;
}

.cart-contain, .payment-contain {
    box-shadow: var(--box-shadow);
    background: #fafafa;
    width: 100%;
    border-top-left-radius:  10px;
    border-top-right-radius:  10px;
}
.cart-contain{
    margin-bottom: 150px;
}
.payment-contain{
    position: fixed;
    width: 1200px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 20px 50px;
    margin-bottom: 10px;
}
.payment-contain .title{
    width: 190px;
}
.cart-contain table img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    object-fit: cover;
}

.product-name {
    font-size: 18px;
}

.process-center {
    display: flex;
    justify-content: center;
}

.process-center a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.process-center-child{
    width: fit-content;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}
.product-down{
    border-radius: 10px 0px 0px 10px;
}
.product-up{
    border-radius: 0px 10px 10px 0px;
}
.product-down,
.product-up {
    border: none;
    background-color: var(--primary-color);
    color: var(--button-text-color);
    font-size: 16px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.product-down:hover,
.product-up:hover {
    background-color: #2980b9;
}
.product-down:active,
.product-up:active {
    background-color: #2c3e50;
}
.product-value {
    width: 70px;
    text-align: center;
    font-size: 20px;
}
.product-price,.product-total-price{
    font-size: 20px;

}
.product-delete {
    cursor: pointer;
    background: transparent;
    border-color: transparent;
}

.btn-pay{
    cursor: pointer;
    padding: 15px;
    color: black;
    border-radius: 30px;
    background: #abcef9;
    font-size: 22px;
}
.btn-pay:hover{
    background-color: #8ac4f5;
}
.btn-pay:active {
    background-color: #6fa4e2;
}
