/* Slider */
.slider-container {
    width: 1200px;
    overflow: hidden;
    margin-bottom: 20px;
}

.slider-wrapper {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slider-container img {
    width: 1200px;
    height: 230px;
    object-fit: fill;
}